.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* start */
.Navigation {

}


.nav {
  text-decoration: none;
  border: 2px solid black;
}

.logo {
  height: 65px;
  width: 240px;
}

.header--bg{
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 82%, 0% 100%);
            clip-path: polygon(0 0, 100% 0, 100% 82%, 0% 100%);
    background: url("./traffic3.jpg") no-repeat;
    height: 765px;
    position: relative;
    background-size: cover;
  }

.header--bg:after{
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-color: rgba(243, 137, 32, .8);
    z-index: -1;
  }

/* text in the banner */
.header-text {
    margin: 0 auto;
    padding-top: 130px;
    text-align: center;
    width: 770px;
}

.header-text h1 {
    color: #fff;
    font-family: "Raleway", sans-serif;
    font-size: 65px;
    font-weight: 600;
    margin-bottom: 25px;
    padding-bottom: 20px;
    position: relative;
}

.header-text h1::before {
    background: #fff none repeat scroll 0 0;
    bottom: 0;
    content: "";
    height: 3px;
    left: 130px;
    position: absolute;
    width: 500px;
}

.header-text p {
    color: #fff;
    font-family: "Raleway", sans-serif;
    font-size: 20px;
    font-weight: 600;
    line-height: 30px;
    margin-bottom: 57px;
}

.header-text button {
    background: transparent none repeat scroll 0 0;
    border: 2px solid #fff;
    border-radius: 60px / 61px;
    color: #fff;
    font-family: "Raleway", sans-serif;
    font-size: 18px;
    font-weight: 500;
    margin-bottom: 170px;
    margin-right: 27px;
    padding: 14px 50px;
}

.header-text button:hover {
    background: #fff;
    color: #11bdd7;
}

.price__panel-wrapper{
    max-width: 1020px;
    margin-right: auto;
    margin-left: auto;
  }

.price .panel{
    -webkit-box-shadow: 0px 0px 10px 0px rgba(136, 136, 136, 0.2);
            box-shadow: 0px 0px 10px 0px rgba(136, 136, 136, 0.2);
    padding-top: 25px;
    padding-bottom: 40px;
    border-radius: 5px;
    -webkit-transition: .3s ease-out;
    transition: .3s ease-out;
  }

.price__title{
    font-size: 22px;
    color: #313131;;
    letter-spacing: 3px;
    font-weight: bold;
  }

.price__ammount{
    font-size: 18px;
    color: #4f4f4f;
    font-weight: bold;
  }

.price__ammount--number{
      font-size: 40px;
    }

.price .panel-body p{
    font-size: 16px;
    color: #7d7d7d;
  }

.price .panel:hover{
    background-color: #13BDFF;
    border-top: 50px solid transparent;
    border-bottom: 50px solid transparent;
    margin-top: -50px;
    -webkit-box-shadow: none;
            box-shadow: none;
  }

.price .panel:hover .panel__button{
      -webkit-box-shadow: 2.5px 4.33px 10px 0px rgba(0, 0, 0, 0.13);
              box-shadow: 2.5px 4.33px 10px 0px rgba(0, 0, 0, 0.13);
    }

.price .panel:hover h4,.price .panel:hover h1,.price .panel:hover p{
      color: #fff !important;
    }


.price .panel:hover .panel__button{
      background-color: #FFFFFF;
      color: #00aafe;
      border: 2px solid #fff;
    }

.panel__button{
      display: inline-block;
      font-size: 15px;
      color: #7d7d7d;
      padding: 8px 35px;
      border: 2px solid #7d7d7d;
      border-radius: 30px;
      font-family: Roboto-Light;
      font-weight: bold;
    }

.contact--bg{
    -webkit-clip-path: polygon(0 32%, 100% 10%, 100% 100%, 0% 100%);
            clip-path: polygon(0 32%, 100% 10%, 100% 100%, 0% 100%);
    background: url("./traffic4.jpg") no-repeat;
    height: 430px;
    position: relative;
    background-size: cover;
  }

.contact--bg:after{
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-color: rgba(243, 137, 32, .8);
    z-index: -1;
  }

.equipment-title {
  text-align: center;
  justify-content: center;
  padding-bottom: 50px;

}

section.contact {
      height: auto;
      overflow: hidden;
      padding: 50px 0;
      position: relative;
  }

section.contact .blue {
      bottom: 116px;
      height: 370px;
      position: absolute;
      width: 100%;
  }

section.contact .blue img,
section.contact .white img {
      width: 100%;
  }

section.contact .white {
      bottom: 88px;
      height: 360px;
      position: absolute;
      width: 100%;
  }

section.contact .contact-text {
      margin-top: 100px;
  }

section.contact .contact-text h2 {
      color: #455a64;
      font-family: "Raleway", sans-serif;
      font-size: 40px;
      font-weight: 700;
      padding-bottom: 20px;
      position: relative;
  }

section.contact .contact-text h2::before {
      background: #455a64 none repeat scroll 0 0;
      bottom: 0;
      content: "";
      height: 2px;
      left: 0px;
      position: absolute;
      width: 75px;
  }

section.contact .contact-text p {
      color: #92a5af;
      font-family: "Raleway", sans-serif;
      font-size: 15px;
      font-weight: 600;
      padding-top: 5px;
  }

section.contact .contact-form {
      background: #fff none repeat scroll 0 0;
      margin-left: 135px;
      margin-top: 50px;
      padding: 40px 35px 35px;
      box-shadow: -9px 1px 15px rgba(0, 0, 0, 0.1);
      border-radius: 7px;
  }

section.contact .contact-form .first {
      margin-right: 10%;
      float: left;
  }

section.contact .contact-form .last {
      float: right;
  }

section.contact .contact-form .first,
section.contact .contact-form .last {
      padding-top: 8px;
      width: 45%;
  }

section.contact .contact-form input {}

section.contact .contact-form input[type="text"] {
      background: transparent none repeat scroll 0 0;
      border-color: -moz-use-text-color -moz-use-text-color #cfd8dc;
      border-image: none;
      border-style: none none solid;
      border-width: medium medium 1px;
      color: #404548;
      font-family: "Raleway", sans-serif;
      font-size: 15px;
      font-weight: 600;
      padding-bottom: 5px;
      width: 100%;
      -moz-border-bottom-colors: none;
      -moz-border-left-colors: none;
      -moz-border-right-colors: none;
      -moz-border-top-colors: none;
      -webkit-border-bottom-colors: none;
      -webkit-border-left-colors: none;
      -webkit-border-right-colors: none;
      -webkit-border-top-colors: none;
      -o-border-bottom-colors: none;
      -o-border-left-colors: none;
      -o-border-right-colors: none;
      -o-border-top-colors: none;
  }

section.contact .contact-form input[type="email"] {
      background: transparent none repeat scroll 0 0;
      border-color: -moz-use-text-color -moz-use-text-color #cfd8dc;
      border-image: none;
      border-style: none none solid;
      border-width: medium medium 1px;
      color: #404548;
      font-family: "Raleway", sans-serif;
      font-size: 15px;
      font-weight: 600;
      padding-top: 47px;
      padding-bottom: 5px;
      width: 100%;
      -moz-border-bottom-colors: none;
      -moz-border-left-colors: none;
      -moz-border-right-colors: none;
      -moz-border-top-colors: none;
      -webkit-border-bottom-colors: none;
      -webkit-border-left-colors: none;
      -webkit-border-right-colors: none;
      -webkit-border-top-colors: none;
      -o-border-bottom-colors: none;
      -o-border-left-colors: none;
      -o-border-right-colors: none;
      -o-border-top-colors: none;
  }

section.contact .contact-form .message textarea {
      background: transparent none repeat scroll 0 0;
      border-color: -moz-use-text-color -moz-use-text-color #cfd8dc;
      border-image: none;
      border-style: none none solid;
      border-width: medium medium 1px;
      color: #404548;
      font-family: "Raleway", sans-serif;
      font-size: 15px;
      font-weight: 600;
      height: 145px;
      padding-bottom: 5px;
      padding-top: 46px;
      width: 100%;
      -moz-border-bottom-colors: none;
      -moz-border-left-colors: none;
      -moz-border-right-colors: none;
      -moz-border-top-colors: none;
      -webkit-border-bottom-colors: none;
      -webkit-border-left-colors: none;
      -webkit-border-right-colors: none;
      -webkit-border-top-colors: none;
      -o-border-bottom-colors: none;
      -o-border-left-colors: none;
      -o-border-right-colors: none;
      -o-border-top-colors: none;
  }

section.contact .contact-form .checkbox {
      float: left;
      margin-left: 17px;
      padding-top: 30px;
      width: 200px;
      color: #8197a3;
      font-family: "Raleway", sans-serif;
      font-size: 14px;
      font-weight: 600;
  }

section.contact .contact-form .submit {
      float: right;
      padding-top: 25px;
  }

section.contact .contact-form input[type="submit"] {
      background: #0ceac5 none repeat scroll 0 0;
      border: medium none;
      border-radius: 25px / 30px;
      color: #fff;
      font-family: "Raleway", sans-serif;
      font-size: 18px;
      font-weight: 600;
      padding: 11px 15px;
  }

section.contact .contact-form .checkbox-submit {
      padding-bottom: 70px;
}

/* footer.footer {
      background-image: url("./footer-bg.jpg");
      background-size: 100% 100%;
      height: 400px;
  } */

  /* footer.footer {
        background-image: url("./footer-bg.jpg");
        background-size: 100% 100%;
        margin-top: 100px;
        padding-top: 110px;
    } */

    /* background-image: linear-gradient(rgba(243, 137, 32, 1), rgba(242, 124, 7, 1)); */


footer.footer {
          background-image: linear-gradient(rgba(243, 137, 32, 1), rgba(243, 137, 32, 1));
          background-size: 100% 100%;
          padding-top: 110px;
}


/* contact title */
footer.footer .footer-icon h2 {
      color: #fff;
      font-family: "Croissant One", cursive;
      font-size: 30px;
      font-weight: 400;
      margin-bottom: 40px;
      position: relative;
  }

/* footer.footer .footer-icon h2::before {
      background: #455a64 none repeat scroll 0 0;
      bottom: -17px;
      content: "";
      height: 2px;
      left: 0;
      position: absolute;
      width: 310px;
  } */

/* all rights reserved tag */
footer.footer .footer-icon h5 {
      color: #4c797d;
      font-family: "Raleway", sans-serif;
      font-size: 15px;
      font-weight: 600;
      margin-top: 35px;
  }

footer.footer .footer-icon i {
      color: #fff;
      font-size: 25px;
      padding: 0 44px 0 0;
  }

footer.footer .footer-text .footer-text-single h3 {
      font-family: "Raleway", sans-serif;
      font-size: 20px;
      font-weight: 400;
      color: #fff;
  }

footer.footer .footer-text .footer-text-single p a {
      font-family: "Raleway", sans-serif;
      font-size: 15px;
      font-weight: 600;
      color: #4c797d;
      text-decoration: none;
  }
